.inputs{
    border-radius: 5px;
    width: 20%;
    height: 10%;
    align-items: center;
}

.botones{
    border-radius: 5px;
    width: 10%;
    height: 20%;
    margin-bottom: 2rem;
}

.stabla{
    border: black 5px solid;
    text-align: center;
}

.imagenes{
    width: 100px;
    height: 100px;
}